
/* *{
  background-color: black;
} */

.container {
  position: relative;
}
.hero{
  position: fixed; 
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120vw;
  transform: translate(-50%,-50%);
  
}

.food-card {
  width: 200px;
}

.containerTop {
  margin-top: 175px;
}